*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    background: rgb(193,193,193);
    background: linear-gradient(0deg, rgba(193,193,193,1) 0%, rgba(51,119,82,1) 34%);
}
menu {
    margin: auto;
}
table, th, td{
    border-collapse: collapse;
    column-gap: 1cm;
  }
  th{
      background-color: #b7c0af;
  }
  td{
      background-color: #868e7f;
  }
  tr{
      background-color: #868e7f;
  }

.form {
    color: #fff;
    display: none;
    margin-top: 20px;
    padding: 20px;
}

.form.visible{
    display: block;
}

.bodygradient {
background-image: linear-gradient(#5f6e51, #FFFFFF);
width: 100%;
min-height: 100vh;
}

.bod-container {
    margin: 2%;
}

/* Striped border - Change background color to liking (: */
.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
background-color: #5f6e51; 
}

.h6-bod{
    text-align: center;
    margin-bottom: 2%;
    font-weight: bold;
    color:  #fff;
    background-color: #4D5A43;
}

.h3-bod{
    font-weight: bold;
    color: #fff;
    background-color: #444446;
}

/* Removes weird white border - Data Table (Contents) (: */
.table>tbody>tr>td,
.table>tbody>tr>th {
border: none;

}

/* Removes weird white border - Data Table (Header) (: */
.table>thead>tr>td,
.table>thead>tr>th{
border-top: 2px solid black;
border-bottom: 2px solid black;
}

.table>tbody>tr:last-child>td {
border-bottom: 2px solid black;
}
    
.undo-bod {
margin: 2%;
font-style: italic;
font-weight: bold;
}

.button-bod {
display: flex;
justify-content: space-between;
margin-left: 5%;
margin-right: 5%;
}

.undo-disapproval-button{
display: flex;
justify-content: center;
}

.application-detail-bod {
display: flex;
justify-content: space-between ;
background-color: #444446;
color: #fff;
}

.application-detail-bod h5 {
margin-top: 1%;
}

.application-detail-headers{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 2%;

}

.flexbox-item {
width: 33%;
text-align: center;
margin-bottom: 2%;
}

.flexbox-item:last-child {
width: 100%;
}

.flexbox-item h6 {
margin-top: 2%;
font-weight: bold;
color: white;
background-color: #4D5A43;
text-align: center;
}

.html-text-box {
width: 100%;
height: 70%;
}

.btn-flexbox {
display: flex;
justify-content: space-around;
padding: .5%;
text-align: center;
}

.html-text-box-disapprove {
background-color: #D09963;
border: none;
color: white;
padding: 1% 10%;
}

.html-text-box-approve {
background-color: #02AE52;
border: none;
color: white;
padding: 1% 10%;
}